<div class="jumbotron text-center">
    <h1 class="display-3">Mutall Blog!</h1>
    <p>Jot ideas on your experience in working in mutall.</p>
    <a class="btn btn-primary btn-lg" href="{{rootpath}}/post/add" role="button">Add Post</a>
</div>